<?php include "html_head.html"; ?>
<?php include "html_nav.html"; ?>

    <main role="main" class="container">

      <div class="starter-template">
        <h1>Les Chiens</h1>
        <p class="lead">
          Voici les chiens disponibles&nbsp;:
        </p>
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Sexe</th>
              <th scope="col">Age</th>
            </tr>
          </thead>
          <tbody>
  <?php foreach($rows as $chien): ?>
              <tr class="table-row" data-href="?page=chien&id=<?= $chien->id; ?>">
                <td><?= $chien->nom; ?></td>
                <td><?= $chien->sexe; ?></td>
                <td><?= $chien->age(); ?></td>
              </tr>
<?php endforeach; ?>
          </tbody>
        </table>
      </div>

    </main><!-- /.container -->

<?php include "html_foot.html"; ?>
  <script>
    $(document).ready(function($) {
      $(".table-row").click(function() {
        window.document.location = $(this).data("href");
      });
    });
  </script>
<?php include "html_end.html"; ?>