<?php include "html_head.html"; ?>
<?php include "html_nav.html"; ?>

    <main role="main" class="container">
      <h1>Supprimer un <?= $type; ?></h1>
      <form action="?page=<?= $type ?>-remove-submit" method="post">
        <input type="hidden" name="id" value="<?= $animal->id; ?>">
        <div class="form-group text-center">
          <p style="font-size:1.5rem;">
            Êtes-vous sûr de bien vouloir supprimer le <?= $type; ?> <?= $animal->nom; ?>&nbsp;?
          </p>
          <button class="btn btn-danger" type="submit" name="btn_yes">Oui</button>
          <button class="btn btn-light" type="submit" name="btn_no">Non</button>
        </div>
      </form>
    </main><!-- /.container -->
<?php include "html_foot.html"; ?>
<?php include "html_end.html"; ?>